<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="113F34CF-0B93-4E94-B762-9D72B770C297" Name="BinaryInfo" Language="1033" Version="1.0.0.0" Manufacturer="vkrzv" UpgradeCode="fa1ec4f0-f039-4bfe-8bff-2d377fde7195">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="BinaryInfo" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    
    <Property Id="MsiLogging" Value="v" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="BinaryInfo" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
				<!-- TODO: Insert files, registry keys, and other resources here. -->
        <File Source="$(var.PeBinaryInfoShellExt.TargetPath)">
          <TypeLib Id="{FD0774C5-6BFF-4325-BE61-37F88320AE5F}" Description="PeBinaryInfoShellExtLib" Language="0" MajorVersion="1" MinorVersion="0">
            <Class Id="{461AECBF-26CA-41FF-805E-201C1655963B}" Context="InprocServer32" Description="PeBinaryInfoShellExt Class" ThreadingModel="apartment" Version="1.0">
              <ProgId Id="vkrzv.PeBinaryInfoShellExt.1" Description="PeBinaryInfoShellExt Class">
                <ProgId Id="vkrzv.PeBinaryInfoShellExt" Description="PeBinaryInfoShellExt Class" />
              </ProgId>
            </Class>
          </TypeLib>
        </File>
        <RegistryValue Root="HKCR" Key="*\shellex\PropertySheetHandlers\{461AECBF-26CA-41FF-805E-201C1655963B}" Value="" Type="string" Action="write" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
